@import 'app-common';
@import 'nativescript-theme-core/scss/platforms/index.ios';

// Place any CSS rules you want to apply only on iOS here
.sidedrawer-header{
  background-color: black;
}
.sidedrawer-header.image{
  height: 20;
  width: 20;
}
