<RadSideDrawer #drawer drawerLocation="Left">

    <StackLayout tkDrawerContent >
        <StackLayout class="sidedrawer-header">
          <Image src="res://icon" cssClass="sidedrawer-header-image" stretch="aspectFit" ></Image>
        </StackLayout>
        <StackLayout class="sidedrawer-content">
            <GridLayout  rows="auto" columns="auto,*" pageName="main-page">
              <Label [text]="'fa-home' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Home" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="buttons">
              <Label [text]="'fa-bicycle' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Ver rutas" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="basics">
              <Label [text]="'fa-close' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Cerrar sesión" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
          </StackLayout>
    </StackLayout>

    <StackLayout tkMainContent>
        <StackLayout width="100%" height="60%" cssClass="mapa">
            <MapView top="0" left="0" width="100%" height="100%" (mapReady)="onMapReady($event)" (coordinateTapped)="mapTapped($event)"></MapView>
            <!--Image (tap)="openDrawer()" top="20" left="20" src="res://icon" cssClass="menu-button"></Image-->
            <Label top="0" left="0" width="2%" height="100%" text=" "></Label>
        </StackLayout>

        <FlexboxLayout flexWrap="wrap" justifyContent="center" class="p-15" backgroundColor="lightgray">
            <Label flexWrapBefore="true" text="00,00 km" borderRadius="5" backgroundColor="#F93822"
                color="white" font-size="20"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="00 km/hr" borderRadius="5" backgroundColor="green" color="white"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="00:00" borderRadius="5" backgroundColor="#A6BBC8"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="Distancia" borderRadius="5" backgroundColor="#F93822" color="white"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="Velocidad" borderRadius="5" backgroundColor="green" color="white"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="Duración" borderRadius="5" backgroundColor="#A6BBC8"></Label>
            <Label flexWrapBefore="true" class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="S: High" borderRadius="5" backgroundColor="#F93822"
                color="white"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="T: Phasellus" borderRadius="5" backgroundColor="green" color="white"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="Nullam" borderRadius="5" backgroundColor="#A6BBC8"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="T:Question" borderRadius="5" backgroundColor="#FFD900"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="S:Medium" borderRadius="5" backgroundColor="#FFD900"></Label>
            <Label class="p-5 m-l-15 m-r-15 m-b-15 text-center" text="duplicate" borderRadius="5" backgroundColor="#A6BBC8"></Label>
        </FlexboxLayout>

    </StackLayout>

</RadSideDrawer>
