<RadSideDrawer #drawer drawerLocation="Left">
    <StatusBar ios:barstyle="opaque"></StatusBar>
    <ActionBar class="action-bar">
    </ActionBar>
    <StackLayout tkDrawerContent class="sidedrawer-left">
        <StackLayout class="sidedrawer-header">
          <Image src="res://icon" cssClass="sidedrawer-header-image img-circle"></Image>
          <Label text="Bikit" textWrap="true" class="sidedrawer-header-brand"></Label>
        </StackLayout>
        <StackLayout class="sidedrawer-content sidedrawer-left">
            <GridLayout  rows="auto" columns="auto,*" pageName="main-page">
              <Label [text]="'fa-home' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Home" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="rutas">
              <Label [text]="'fa-bicycle' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Ver rutas" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="logoff">
              <Label [text]="'fa-close' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Cerrar sesión" (tap)="logoff()" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
          </StackLayout>
    </StackLayout>

    <StackLayout tkMainContent>
        <StackLayout width="100%" height="60%" cssClass="mapa">
            <MapView top="0" left="0" width="100%" height="100%" (mapReady)="onMapReady($event)"></MapView>
            <Label top="0" left="0" width="2%" height="100%" text=" "></Label>
        </StackLayout>
        <StackLayout>
                <FlexboxLayout class="fxbxcontainer m-10">
                    <FlexboxLayout class="fxbxcolumn">

                        <FlexboxLayout class="fxbxrow" justifyContent="space-between">
                            <Label class="h1 text-center" text="0.0"></Label>
                            <Label class="h1 text-center" text="0.0"></Label>
                            <Label class="h1 text-center" text="00:00"></Label>
                        </FlexboxLayout>
                        <FlexboxLayout class="fxbxrow" justifyContent="space-between">
                            <Label class="footnote" text="DISTANCIA (KM)"></Label>
                            <Label class="footnote" text="VELOCIDAD (KMH)"></Label>
                            <Label class="footnote" text="DURACIÓN"></Label>
                        </FlexboxLayout>
                        <FlexboxLayout class="fxbxrow" justifyContent="space-between">
                            <Label width="33%" text="00" class="h1" > </Label>
                            <Button width="33%" [text]="'fa-bicycle' | fonticon" class="fa grey" (tap)="startMonitor()"></Button>
                            <Label width="33%" text="00" class="h1" > </Label>
                        </FlexboxLayout>
                        <Button width="33%" [text]="'fa-hand-stop-o' | fonticon" class="fa red" (tap)="stopMonitor()" ></Button>
                    </FlexboxLayout>

                </FlexboxLayout>

            </StackLayout>
    </StackLayout>

</RadSideDrawer>
