<RadSideDrawer drawerLocation="Left">
  <StackLayout sdkToggleNavButton>

</StackLayout>
    <StackLayout tkDrawerContent class="sidedrawer-left">
        <GridLayout rows="auto" columns="auto,*" class="sidedrawer-header">
          <Image src="res://icon" class="sidedrawer-header-image img-circle" row="0" col="0" ></Image>
          <Label text="Nombre de usuario" textWrap="true" class="sidedrawer-header-brand" row="0" col="2" ></Label>
        </GridLayout>
        <StackLayout class="sidedrawer-content sidedrawer-left">
            <GridLayout rows="auto" columns="auto,*" pageName="main-page">
              <Label [text]="'fa-home' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Home" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="rutas">
              <Label [text]="'fa-bicycle' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Ver rutas" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto,*" pageName="logoff">
              <Label [text]="'fa-close' | fonticon" class="fa sidedrawer-list-item-icon" row="0" col="0"> </Label>
              <Label text="Cerrar sesión" (tap)="logoff()" class="sidedrawer-list-item-text" row="0" col="1"> </Label>
            </GridLayout>
          </StackLayout>
    </StackLayout>

    <StackLayout tkMainContent>
        <SearchBar #sb hint="Search" [text]="searchPhrase" (submit)="onSubmit(sb.text)"></SearchBar>
        <AbsoluteLayout class="mapa">
            <MapView top="0" left="0" width="100%" height="100%" (mapReady)="onMapReady($event)"></MapView>
        <StackLayout>
            <Button (tap)="toggleButton()" [text]="isMonitoring ? 'fa-stop' : 'fa-play' | fonticon" class="fa"></Button>
            <StackLayout orientation="horizontal">
              <Label text="Distancia recorrida: " class="label-indicador"></Label>
              <Label [text]="lastLocation" class="label-indicador" id=distancelabel></Label>
            </StackLayout>

        </StackLayout>

      </AbsoluteLayout>

    </StackLayout>

</RadSideDrawer>
