.fa {
    font-family: FontAwesome, fontawesome-webfont;
    font-size: 20;
}

.viaje-button {
    width: 100px;
    height: 100px;
}

.fxbxcontainer {
  background-color: white;
  align-items: flex-start;
  padding: 5;
}

.fxbxcolumn {
  flex-direction: column;
  flex-wrap: nowrap;
}

.fxbxrow {
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-bottom: 10;
}
