.fa {
    font-family: FontAwesome, fontawesome-webfont;
    font-size: 20;
}

.viaje-button {
    width: 100px;
    height: 100px;
}

.fxbxcontainer {
  background-color: white;
  align-items: flex-start;
  padding: 5;
  width: 95%;
  height: 30%;
  margin-top: 60%;
}

.fxbxcolumn {
  flex-direction: column;
  flex-wrap: nowrap;
}

.fxbxrow {
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-bottom: 10;
}

.fab-button {
    height: 70;
    width: 70;
    margin: 15;
    background-color: #ff4081;
    horizontal-align: right;
    vertical-align: bottom;
}

.label-indicador {
  color: white;
}
