Image {
  margin-top: 5;
  margin-right: 5;
}

Button {
  margin-bottom: 10;
  margin-left: 16;
  margin-right: 16;
}

TextField {
  margin-bottom: 10;
  margin-left: 16;
  margin-right: 16;
  padding: 10;
  font-size: 13;
}

/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  background-image: url("res://bg_login");
  background-repeat: no-repeat;
  background-size: cover;
}

.initial-container {
  margin-top: 150;
}
.initial-logo {
  horizontal-align: center;
  margin-bottom: 40;
  height: 50%;
  width: 50%;
}

.initial-button {
  background-color: #5FCF80;
  color: white;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-top: 20;
  border-radius: 5;
}

.initial-button-label {
  horizontal-align: center;
  font-weight: normal;
  font-size: 12;
}

.initial-button-google {
  background-image: url("res://googlefavicon");
  background-color: white;
  color: grey;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-top: 20;
  border-radius: 5;
}

.initial-button-facebook {
  background-color: #3B5998;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-top: 20;
  border-radius: 5;
}

.main-container {
  visibility: collapse;
  opacity: 0;
  margin-left: 30;
  margin-right: 30;
}

.camposLogin {
/* Rectangle 8: */
background-color: rgba(0,0,0,0.30);
border-radius: 5;
height: 45;
width: 275;
padding-left: 5;
vertical-align: center;
font-family: Roboto-Regular;
color: rgba(255,255,255,0.80);
}

.submit-button {
  background-color: #5FCF80;
  color: white;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-top: 20;
  border-radius: 5;
}

.toogle-button {
  background-color: #637A91;
  color: white;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-top: 20;
  border-radius: 5;
}

.forgot-password-label {
  font-size: 13;
  margin-top: 10;
  margin-left: 20;
  margin-bottom: 20;
  color: white;
  text-align: center;
}

.sign-up-stack {

}

.sign-up-stack Label {
  color: white;
  horizontal-align: center;
  font-size: 14;
}

.logo-container {
  visibility: collapse;
  horizontal-align: center;
  opacity: 0;
  height: 30%;
  width: 40%
}


Page {
  font-size: 12;
}


.line-through {
  text-decoration: line-through;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  font-size:20;
}
