.main-container {
  height: 100%;
  width: 350;
}

Button, TextField {
  margin-bottom: 10;
  margin-left: 16;
  margin-right: 16;
}

.submit-button {
  margin-top: 20;
}

.toogle-button {
  margin-top: 20;
}

.forgot-password-label {
  font-size: 13;
}

.logo-container Image {
  height: 100%;
  width: 100%;
}

.camposLogin {
  /* Rectangle 8: */
  background-color: rgba(0,0,0,0.30);
  border-radius: 5;
  height: 45;
  width: 275;
  vertical-align: center;
  font-family: Roboto-Regular;
  color: rgba(255,255,255,0.80)
}
